@media (max-width:650px){
  .email-layout{
    width: 500px;
    padding: 0;
  }
}/* Add this to your src/index.css or any other CSS file */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body{
  display: flex;
  width: 100%;
  height: 100%;
}
